<div class="genre-conatiner">
        <a href="/games/g/1st" >1st Person</a>
        <a href="/games/g/3rd Person" >3rd Person</a>
        <a href="/games/g/3D" >3D</a>
        <a href="/games/g/Racing" >Racing</a>
        <a href="/games/g/Adventure" >Adventure</a>
        <a href="/games/g/Action" >Action</a>
        <a href="/games/g/Arcade" >Arcade</a>
        <a href="/games/g/Fighting" >Fighting</a>
        <a href="/games/g/Horror" >Horror</a>
        <a href="/games/g/Shooter" >Shooter</a>
        <a href="/games/g/Sport" >Sport</a>
        <a href="/games/g/Simulator" >Simulator</a>
        <a href="/games/g/Stratrgy" >Stratrgy</a>
        <a href="/games/g/RPG" >RPG</a>
    </div>