<html>
	<head>
		<title>Games Site</title>
		
		<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	</head>
	<body>
		<div class="container">
			<header>
			   <div class="logo">Poor GamerZ</div>
			   <div>
				<form action="/games/s/:title" method="get">
					<input type="text" name="title"  placeholder="Enter a Title">
					<input type="submit">
					</form>
			   </div>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
					</ul>
				</nav>
			</header>
		</div>
			


